body{
    background-color: #383d50;
    width: 100vh;
    height: 100vh;
    animation: wallpaper 2.5s ease;

}

.container { 
    display: inline-block;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.text {
    color: orange;
    font-size: 2em;
    font-family: monospace;
    letter-spacing: 5px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;
}

.container2 {
    display: inline-block;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text2{
    font-size: 1em;
    font-family: monospace;
    letter-spacing: 10px;
    color: rgb(182, 118, 0);
    animation: opacity 4s ease;
    }

    .horror {
        position: absolute;
        width: 20%;
        height: 40%;
        animation: opacity 3s ease;
        left: 75%;
        top: 60%;
    }

    @keyframes wallpaper {

        0% {
        background-color: black;
        }
        
        100% {
         background-color: #383d50;
        }
    }

    @keyframes opacity {

        0% {
            opacity: 0%;
        }

        50% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

@keyframes cursor {
    50% {   border-color: transparent}
}

@keyframes typing {
    from {width: 0 }
}